// COLORS #######################################

cosBlue = #48a1da

// COMMON #######################################

body
  box-sizing: border-box
  padding: 0
  padding-left: 15px
  margin: 0
  font-size: 18px

h1
  font-size: 1.4rem

// UI ###########################################

.main_head
  vertical-align: top
  margin-top: 15px
  div
    vertical-align: top
    display: inline-block

.main_titre
  height: 25px
  margin: auto 20px auto 0
  padding: auto
  font-weight: bold
  font-size: 1.4rem

.closebtn
  position: absolute
  top: 15px
  right: 20px

.cos_spacer
  display: inline-block
  width: 20px

.cos_shortinp
  width: 50px

.cos_result
  text-align: center
  font-size: 1.5rem

// ICON BUTTONS #################################

.iconBtn
  margin: 3px
  padding: 2px
  font-size: 1.2rem
  background: white
  text-align: center
  border: solid 1px gray
  border-radius: 3px
  color: gray
  &:hover
    border: solid 1px cosBlue
    color: cosBlue
  &:active
    background: gray
    border: solid 1px white
    color: white
