// COLORS #######################################

cosBlue = #48a1da

// COMMON #######################################

body
  box-sizing: border-box
  padding: 0
  margin: 0
  font-size: 18px

h1
  font-size: 1.4rem

// UI ###########################################

.main_head
  vertical-align: top
  margin-top: 15px
  div
    vertical-align: top
    display: inline-block

.main_titre
  height: 25px
  margin: auto 20px
  padding: auto
  font-weight: bold
  font-size: 1.4rem

.closebtn
  position: absolute
  top: 15px
  right: 20px

.cos_spacer
  display: inline-block
  width: 20px

.cos_shortinp
  width: 50px

.cos_result
  text-align: center
  font-size: 1.5rem

// SVG UI #######################################

.svgBtn
  margin: 2px
  width: 24px
  height: 24px
  background: white
  border: solid 1px gray
  border-radius: 3px
  *
    fill: gray
  &:hover
    border: solid 1px cosBlue
    *
      fill: cosBlue
  &:active
    background: gray
    border: solid 1px white
    *
      fill: white
