doctype html
html
  head
    title CO Suivi - Gestionnaire de balises
    meta(charset='utf-8')
    script(src='../scripts/vendor.js')
    script(src='../scripts/bals.js')
    link(rel='stylesheet',href='../styles/basic.css')
  body
    h1 CO Suivi - Gestionnaire de balises
    div(id='close',class='closebtn')
    div(id='')
    script Bals.run();
