doctype html
html
  head
    title CO Suivi
    meta(charset='utf-8')
    script(src='../comm.js')
    script(src='../scripts/vendor.js')
    script(src='../scripts/main.js')
    link(rel='stylesheet',href='../styles/basic.css')
  body
    div(id='close',class='closebtn')
    div(class='main_head')
      div(class='main_titre') CO Suivi
      div(id='main_menu')
    div(id='sub_menu')
    div(id='list_studs')
    div(id='form_stud')
    script CosApp.run();
