doctype html
html
  head
    title CO Suivi
    meta(charset='utf-8')
    script(src='../vendor.js')
    script(src='../scripts/main.js')
    link(rel='stylesheet',href='../styles/basic.css')
  body
    div(id='main')
    //temp btns
    input(type='button',onclick='console.log("test");',value='test')
    input(type='button',onclick='console.log("test");',value='test')
    //
    script CosApp.run('main');
